.footer {
    .container {
        .foot {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 0;

            &__text {
                h5 {
                    font-size: 14px;
                    font-weight: 700;
                    color: $second-Color;
                }
            }

            &__icon {
                display: flex;
                align-items: center;
                gap: 20px;
                i {
                    color: $primary-Color;
                    font-size: 24px;
                }
            }
        }
    }
}


@media screen and (max-width: 700px) {
    .footer {
        .container {
            .foot {
                flex-direction: column;
                gap: 30px;
                
                &__text{
                    h5 {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    
}